@tailwind base;
@tailwind components;
@tailwind utilities;

.page_wrapper {
    min-height: 100vh;
}

.pricing_table {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    min-width: 15rem;

    @media screen and (min-width: 976px) {
        min-width: 12rem;
    }
}

.pricing_table_foreigner {
    @media screen and (max-width: 976px) {
        min-height: 40rem;
    }
}

.pricing_tables {
    @media screen and (min-width: 1215px) {
        display: flex;
        justify-content: center;
    }
}

.grid_foreigner_plan {
    @media screen and (min-width: 976px) {
        display: grid;
        grid-template-rows: 270px 336px 75px;
    }
}

select:focus {
    outline: none;
}

select {
    cursor: pointer;
}
